$topnav-background-color: #fff;
:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            color: #fff;
        }
        .nav-item > a {
            color: #999;
            &:hover {
                color: #fff;
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}
.fixed-top-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0px;
  z-index: 1;
  background-color:#535353
}
.btn-primary {
  color: #fff;
  background-color: #ff5c00;
  border-color: #535353;
}
a{
  color: #ff5c00;
}
a:hover{
  color: #ff5c00;
}
.btn-primary:hover {
  color: #fff;
  background-color: #ff5c00;
  border-color: #535353;
}
.rounded-btn {
  -webkit-border-radius: 50px;
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.8);
  background: #ff5c00 ;
  border: 2px solid rgba(255, 255, 255, 0.8);
  font-size: 18px;
  line-height: 40px;
  padding: 0 25px;
}
.fixed-orange-background-color{
  background-color: #ff5c00;
}
.fixed-orange-font-color{
  color: #ff5c00;
}
.fixed-gray-background-color{
  background-color: #535353;
}
.fixed-gray-font-color{
  color: #535353;
}
.fixed-white-font-color{
  color: rgba(255, 255, 255, 0.8);
}
.btn-raio-primary {
  color: #fff;
  background-color: #535353;
  border-color: #535353;
}


