<nav class="navbar navbar-expand-lg fixed-top-header">

    <div class="collapse navbar-collapse">

          <ul class="navbar-nav ml-auto">
            <li style="margin-left: -350px" class="nav-item" ngbDropdown>
              <select class="custom-select mr-sm-2"  [(ngModel)]="currentDomain" (ngModelChange)="onChangeDomain($event)">
                <option *ngFor="let domain of userDomains" [ngValue]="domain" > {{domain.name}} </option>
              </select>

            </li>
            <li><button class="rounded-btn" (click)="openDomainCreateForm(content)">+ Website</button></li>
            </ul>


      <ng-template #content let-c="close" let-d="dismiss">
        <form [formGroup]="addNewDomainForm" >
        <div class="modal-header fixed-gray-background-color">
          <h4 class="modal-title fixed-white-font-color">Add Website</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" class="fixed-orange-font-color">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row">
            <div class="col">
              <select formControlName="type"><option value="0">http://</option><option value="1">https://</option></select>
            </div>
            <div class="col">
              <input type="text" class="form-control"  formControlName="domainName" [ngClass]="{ 'is-invalid': newDomainsubmitted && new_domain_form.domainName.errors }"/>
            </div>
          </div>
        </div>
          <div class="form-row">
            <p *ngIf="isNewDomainAdded">
              <ngb-alert [dismissible]="false" [type]="'success'">
                Successfully Add new website!!
              </ngb-alert>
            </p>
          </div>
        <div class="modal-footer fixed-gray-background-color">

          <button type="button" class="rounded-btn" (click)="submitNewDomainForm()">Add</button>&nbsp;
          <button type="button" class="rounded-btn" (click)="c('Close click')">Close</button>

        </div>

          </form>
      </ng-template>
        <ul class="navbar-nav ml-auto">

            <!--
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-language"></i> {{ 'Language' | translate }} <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('en')">
                        {{ 'English' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('fr')">
                        {{ 'French' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('ur')">
                        {{ 'Urdu' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('es')">
                        {{ 'Spanish' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('it')">
                        {{ 'Italian' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('fa')">
                        {{ 'Farsi' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('de')">
                        {{ 'German' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('zh-CHS')">
                        {{ 'Simplified Chinese' | translate }}
                    </a>
                </div>
            </li> -->
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-user"></i> {{user_fullName}} <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right fixed-gray-background-color" ngbDropdownMenu>
                  <a *ngFor="let profile of profileList" class="dropdown-item fixed-orange-font-color"
                     href="javascript:void(0)" (click)="onUserProfile(profile.id)">
                    <i class="fa fa-fw {{profile.class}}"></i>{{ profile.name  }}
                  </a>
                  <!--  <a class="dropdown-item fixed-orange-font-color" href="javascript:void(0)">
                        <i class="fa fa-fw fa-user"></i>{{ 'Profile' | translate }}
                    </a>
                    <a class="dropdown-item fixed-orange-font-color" href="javascript:void(0)">
                        <i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}
                    </a>
                    <a class="dropdown-item fixed-orange-font-color" href="javascript:void(0)">
                        <i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}
                    </a>
                    <a class="dropdown-item fixed-orange-font-color" [routerLink]="['/login']" (click)="onLoggedout()">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
                    </a>
                -->

                </div>
             </li>
        </ul>
    </div>
</nav>
