<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">Integration Instructions</div>
      <div class="card-body">
        <div class="form-group">
          <div class="input-group">
            <p class="mb-3">Copy & place following JS code before &lt;/head&gt; tag on all website pages</p>
            <div class="card">
              <div class="card-body">
                <div class="row col-lg-10">
                    <p class="mb-1 mt-2">Step - 1 </p>
                </div>
                <div class="row col-lg-12">
                  <div class="alert alert-info col-lg-12 mb-0">
                    &lt;script src="{{scriptfile}}"&gt;&lt;/script&gt;
                  </div>
                </div>
                <div class="row col-lg-10">
                  <p class="mb-1 mt-2">Step - 2 </p>
                </div>
                <div class="row col-lg-12">
                  <div class="alert alert-info col-lg-12 mb-0">
                    Create firebase-messaging-sw.js in root directory of website.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>